//
//  Developement.xcconfig
//  Src
//
//  Created by Src on 5/4/20.
//  Copyright © 2020 Src. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Src/Pods-Src.debug(development).xcconfig"

// Server URL
BASE_URL = https:/$()/put-BaseUrl- here
REGISTRATION_URL = https:/$()/put-RegistrationBaseUrl-here
ACCOUNT_URL = https:/$()/dev-put-AccountBaseUrl-here
GULF_HORSEQ = https:/$()/gulfhorseq8.com
SOUQ_VIS = https:/$()/souqvis.com
KUWAIT_FACTORIES = https:/$()/kuwait-factories.com
MEDICAL_HIGHCODER = https:/$()/medical.highcoder.com
HIGHCODER = https:/$()/hourse.highcoder.com
// App Settings
APP_NAME = كنوز
APP_BUNDLE_ID = com.kenoz
